.projects {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
  }
  
  .projects .projects__content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
  }
  
  
  .projects ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .projects ul li.projects__reversed-list {
    flex-direction: row-reverse;
  }
  
  .projects ul li:not(:last-of-type) {
    margin-bottom: 12rem;
  }
  
  .projects ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
  }
  
  .projects ul li .projects__info {
    max-width: 47rem;
  }
  
  .projects ul li .projects__info p {
    margin: 1rem 0 4rem;
  }
  
  .projects ul li .projects__info a {
    font-weight: 500;
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 768px) {
    .projects ul li,
    .projects ul li.projects__reversed-list {
      flex-direction: column;
    }
  
    .projects ul li .projects__info {
      max-width: 66rem;
    }
  
    .projects ul li .image img {
      min-width: auto;
    }
  }

  .projects ul li .video-container {
    width: 100%; /* Ocupa a largura total do contêiner pai */
    max-width: 47rem; /* Define a largura máxima igual às imagens */
    aspect-ratio: 47 / 26.4375; /* Mantém a proporção baseada na largura máxima e na altura esperada (calculada para 16:9 em 47rem) */
    margin: 0 auto 4rem;
    border: 3px solid #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex; /* Adicionando flexbox para controlar o item interno */
  }
  
  .projects ul li .video-container video {
    display: block; /* Evita espaços extras abaixo do vídeo */
    width: 100%; /* O vídeo ocupa toda a largura do container */
    height: 100%; /* O vídeo ocupa toda a altura do container */
    object-fit: cover; /* Garante que o vídeo cubra todo o espaço sem distorcer a proporção, cortando se necessário */
  }
  
  
  